<div class="block">
    <h2>What's this</h2>
    <p> visiCar is a web app that lets users take a picture of a car that they are interested in. After detecting what car it
        is, visi tells you where you can go buy it based on your location. If you scroll further down, you'll see that we
        have a visual representation of what cars people are looking at. We think this data is important for car vendors,
        dealerships and buyers to see what is popular.</p>

    <h2>Cool Tech Used</h2>

    <ul>
        <li>Ruby on Rails</li>
        <li>Google Cloud Platform
            <ul>
                <li>Google Cloud Vision</li>
                <li>Google Maps</li>
            </ul>
        </li>
        <li>Autodata's APIs</li>
        <li>ChartKick</li>
    </ul>
</div>